*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:rgba(236, 202, 156, 0.5);
    margin: 0;
    padding: 0;
}
header {
    background-color: #DBA979;
    color: black;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}
section a{
    text-decoration: none;
}
section h2 {
    font-size: 2rem;
    color: #333;
    border-bottom: 2px solid #eb9748;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

section p {
    color: #666;
    font-size: 1.1rem;
}

footer {
    background-color: #DBA979;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}